{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{flatpage.title}}</h2>
    <hr>
    <h3>Наши контакты:</h3>
    <li>Адрес: "Москва, Красная площадь д.1"</li>
    <li>Тел:"8-800-100-00-00"</li>
    <li>Email:"1@1.com"</li>
<div class="map">

	<div id="map"></div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=db9042a4-dd6d-408b-b44e-af3d00ee8f3a&lang=ru_RU"></script>
<script>
ymaps.ready(init);
function init(){
	var myMap = new ymaps.Map("map",{center: [55.85,37.45],zoom: 13});

	// Элементы управления картой
	//myMap.controls.add("zoomControl").add("typeSelector").add("mapTools");

	ymaps.geocode("Москва, Красная площадь д.1").then(function (res) {
		var coord = res.geoObjects.get(0).geometry.getCoordinates();
		var myPlacemark = new ymaps.Placemark(coord, {}, {
			iconImageHref: "/img/map.png",
			iconImageSize: [54, 74],
			iconImageOffset: [-27, -74]
		});
		myMap.geoObjects.add(myPlacemark);
		myMap.setCenter(coord);

		// Сдвиг центра карты вправо
		var newcoord = myMap.getGlobalPixelCenter();
		newcoord[0] -= 150;
		myMap.setGlobalPixelCenter(newcoord);
	});
}
</script>
<style>
.map-box {
	position: absolute;
	top: 170px;
	left: 20px;
	padding: 20px;
	background: #fff;
	border: 1px solid #ddd;
	z-index: 100;
	width: 250px;
	box-shadow: -1px -1px 24px 0px rgba(50, 50, 50, 0.5);
}
.map-box p {
	font-size: 18px;
}
#map {
	width: 100%;
	height: 450px;
}
</style>
    {{flatpage.content}}
{% endblock content %}
