{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h1 style="text-align: center;">
    <em><strong>Fullstack разработчик на Python</strong></em><br />
    <em><strong>SkillFactory FPW-2.0</strong></em>
</h1>
<p>&nbsp;</p>
<p style="text-align: center;">
    <em>
        <strong>
            <img
                src="https://lms.skillfactory.ru/asset-v1:SkillFactory+FPW-2.0+27AUG2020+type@asset+block@Fullstack_%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%87%D0%B8%D0%BA_%D0%BD%D0%B0_Python.png"
                alt=""
                width="1024"
                height="576"
            />
        </strong>
    </em>
</p>
    {{flatpage.content}}
{% endblock content %}