{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}

<h1>Новости</h1>
<!-- <h3>{{ time_now|date:'d-M-Y H:m' }}</h3>  <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
<!-- <h3> {{ value1|default_if_none:"ничего" }} </h3>  Здесь, если в переменной value1 будет записано None, то выведется текст НИЧЕГО -->

{% if news %} <!-- Если есть новости, то выводим таблицу с ними -->
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Категория
        </td>
        <td>
            Текст
        </td>
        </tr>
{% for news in news %} <!-- Для каждой новости будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python.  поменяем на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>
        <td>
            {{ forloop.counter }}
            <a href="{% url 'post' news.id %}">{{ news.title|censor }}</a>
            <a href="{% url 'post_update' news.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
 
            <a href="{% url 'post_delete' news.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
        </td>
        <td>
            {{ news.dateCreation|date:'d-M-Y H:m' }}
        </td>
        <td>
            {{ news.categoryType }}
        </td>
        <td>
            {{ news.text|truncatechars:50|censor }} <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
        </td>
    </tr>
{% endfor %}
</table>

<a href="{% url 'post_create' %}">Добавить новый пост</a> <br>

{% if is_paginated %} 
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">Первая стр.</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
 
    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
 
    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Постедняя стр.</a>
    {% endif %}
 
    {% endif %}
    {% else %}
        <h1>Новостей нет!</h1>
{% endif %}

{% endblock content %}