{% extends 'flatpages/default.html' %}
 
{% block title %} Удаление поста {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данный пост?</h2>
<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Категория
        </th>
        <th>
            Текст
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.dateCreation|date:'d-M-Y H:m' }}
        </td>
        <td>
            {{ post.categoryType }}
        </td>
        <td>
            {{ post.text }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить">
</form>
{% endblock content %} 