{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Поиск новостей
{% endblock title %}

{% block content %}

<h3>Поиск поста</h3>

<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

{% if filter %} 
<table>
    <tr>
        <td>
            Заголовок
        </td>
        <td>
            Дата публикации
        </td>
        <td>
            Категория
        </td>
        <td>
            Текст
        </td>
        </tr>
{% for filter in filter.qs %} <!-- Для каждой новости будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python.  поменяем на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
    <tr>
        <td>
            <a href="{% url 'post' filter.id %}">{{ filter.title|censor }}</a>
            <a href="{% url 'post_update' filter.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
 
            <a href="{% url 'post_delete' filter.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
        </td>
        <td>
            {{ filter.dateCreation|date:'d-M-Y H:m' }}
        </td>
        <td>
            {{ filter.categoryType }}
        </td>
        <td>
            {{ filter.text|truncatechars:50|censor }} <!-- truncatechars - фильтр по символам, truncatewords - фильтр по словам -->
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock content %}